<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appneko.petshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditProductActivity" android:label="Edit Produk"/>
        <activity android:name=".EditCategoryActivity" android:label="Edit Kategori"/>
        <activity android:name=".OrdersActivity" android:label="Daftar Pesanan"/>
        <activity android:name=".BuyActivity" />
        <activity android:name=".RegisterActivity" android:label="Daftar PetShop"/>
        <activity android:name=".AddProductActivity" android:label="Tambah Produk"/>
        <activity android:name=".ProductsActivity" android:label="Daftar Produk"/>
        <activity android:name=".AddCategoryActivity" android:label="Tambah Kategori" />
        <activity android:name=".CategoriesActivity" android:label="Daftar Kategori"/>
        <activity android:name=".UserDashboardActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".LoginActivity" android:label="Masuk Pethsop"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>